@model Informer.Models.LocalPasswordModel



@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input  class="css3button"  type="submit" value="Задать пароль" />
}
<p>
    У вас нет локального пароля для этого сайта. Добавьте локальный пароль,
    чтобы входить без внешней учетной записи.
</p>