<div class="topnav">
    <ul>
        <li><a href="#">Новости</a>
            <ul>
                <li id="0">@Html.ActionLink("Главная", "Index", "Home", new { area = "", id = "" }, null)</li>
                <li id="5">@Html.ActionLink("Новости сайта", "Category", "Home", new { area = "", id = 5 }, null)</li>
                <li id="2">@Html.ActionLink("interlude", "Category", "Home", new { area = "", id = 2 }, null)</li>
                <li id="1">@Html.ActionLink("high five", "Category", "Home", new { area = "", id = 1 }, null)</li>
                <li id="4">@Html.ActionLink("goddess of destruction", "Category", "Home", new { area = "", id = 4 }, null)</li>
            </ul>
        </li>
        <li><a href="#">Новости</a>
            <ul>
                <li id="0">@Html.ActionLink("Главная", "Index", "Home", new { area = "", id = "" }, null)</li>
                <li id="5">@Html.ActionLink("Новости сайта", "Category", "Home", new { area = "", id = 5 }, null)</li>
                <li id="2">@Html.ActionLink("interlude", "Category", "Home", new { area = "", id = 2 }, null)</li>
                <li id="1">@Html.ActionLink("high five", "Category", "Home", new { area = "", id = 1 }, null)</li>
                <li id="4">@Html.ActionLink("goddess of destruction", "Category", "Home", new { area = "", id = 4 }, null)</li>
            </ul>
        </li>
        <li><a href="#">Новости</a>
            <ul>
                <li id="0">@Html.ActionLink("Главная", "Index", "Home", new { area = "", id = "" }, null)</li>
                <li id="5">@Html.ActionLink("Новости сайта", "Category", "Home", new { area = "", id = 5 }, null)</li>
                <li id="2">@Html.ActionLink("interlude", "Category", "Home", new { area = "", id = 2 }, null)</li>
                <li id="1">@Html.ActionLink("high five", "Category", "Home", new { area = "", id = 1 }, null)</li>
                <li id="4">@Html.ActionLink("goddess of destruction", "Category", "Home", new { area = "", id = 4 }, null)</li>
            </ul>
        </li>
        <li><a href="#">Новости</a>
            <ul>
                <li id="0">@Html.ActionLink("Главная", "Index", "Home", new { area = "", id = "" }, null)</li>
                <li id="5">@Html.ActionLink("Новости сайта", "Category", "Home", new { area = "", id = 5 }, null)</li>
                <li id="2">@Html.ActionLink("interlude", "Category", "Home", new { area = "", id = 2 }, null)</li>
                <li id="1">@Html.ActionLink("high five", "Category", "Home", new { area = "", id = 1 }, null)</li>
                <li id="4">@Html.ActionLink("goddess of destruction", "Category", "Home", new { area = "", id = 4 }, null)</li>
            </ul>
        </li>
                <li><a href="#">Новости</a>
            <ul>
                <li id="0">@Html.ActionLink("Главная", "Index", "Home", new { area = "", id = "" }, null)</li>
                <li id="5">@Html.ActionLink("Новости сайта", "Category", "Home", new { area = "", id = 5 }, null)</li>
                <li id="2">@Html.ActionLink("interlude", "Category", "Home", new { area = "", id = 2 }, null)</li>
                <li id="1">@Html.ActionLink("high five", "Category", "Home", new { area = "", id = 1 }, null)</li>
                <li id="4">@Html.ActionLink("goddess of destruction", "Category", "Home", new { area = "", id = 4 }, null)</li>
            </ul>
        </li>
    </ul>
</div>
